<div class="comment-read-container">

  <!-- COMMENT 1 -->
  <div class="comments">
    <!--  AVATAR -->
    <div class="avatar-comment">
      <a href="#">
      <% if post.user.avatar_url.blank? == true %>
        <%= cl_image_tag("default-avatar.png", class:"avatar_navbar avatar_navbar_show") %>
      <% else %>
        <%=  cl_image_tag(post.user.avatar_url, class:"avatar_navbar avatar_navbar_show") %>
      <% end %>
      </a>
    </div>

    <!-- COMMENT -->

    <div class="comment-read">
      <p id="comment-read"></p>
    </div>
  </div>

  <!-- COMMENT 2 -->


</div>
