<div class="write-post-card">
  <!-- AVATAR -->
  <div class="write-post-avatar">
    <% if post.user.avatar_url.blank? == true %>
      <%= image_tag("default-avatar.png", class:"avatar_post") %>
    <% else %>
      <%=  cl_image_tag(post.user.avatar_url, class:"avatar_post") %>
    <% end %>
  </div>
  <!-- WRITE POST  -->

    <div class="write-post-message">
      <p>
        <%= link_to "Publish Post", new_post_path %>
      </p>
      <!-- <p>Write a post...</p> -->
    </div>
</div>
