<div class="write-post-card">
  <!-- AVATAR -->
  <div class="write-post-avatar">
    <%= image_tag("logo", class:"avatar_post")%>
  </div>
  <!-- WRITE POST  -->
  <a href="#">
    <div class="write-post-message">
      <p>Write a post...</p>
    </div>
  </a>
</div>
