<div class="write-post-card">
  <!-- AVATAR -->
  <div class="write-post-avatar">
    <%= image_tag("logo", class:"avatar_post")%>
  </div>
  <!-- WRITE POST  -->

    <div class="write-post-message">
      <p>
        <%= link_to "Publish Post", new_post_path %>
      </p>
      <!-- <p>Write a post...</p> -->
    </div>
</div>
