      <div class="card-zone-newsfeed">
        <div class="zone-logo-newsfeed">
        </div>
        <div class="zone-name-newsfeed">
          <div class="name-newsfeed">

            <p><%= zone.title %></p>
          </div>
        </div>
      </div>
