<div class="main-card-newsfeed">
  <div class="main-card-newsfeed--header">
    <div class="bandeau-interest">
      Interest
    </div>

    <a href="#" class="avatar">
      <%= image_tag("benoit rond.jpg", class:"avatar_interest")%>
    </a>

    <a href="#">
      <div class="card-zone-newsfeed">
        <div class="zone-logo-newsfeed">
        </div>
        <div class="zone-name-newsfeed">
          <div class="name-newsfeed">
            <p>Zone 1</p>
          </div>
        </div>
      </div>
    </a>

    <div>
      <a href="#">
        <p id="full-name-post">User name</p>
      </a>
      <!-- Time spent -->
      <p id="time-spent-post">XX min.</p>
    </div>
  </div>

  <div class="main-card-newsfeed--body">
    <p class="post-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis possimus saepe asperiores, corporis aspernatur adipisci doloribus laborum commodi rerum cupiditate exercitationem consequatur amet vitae aliquid quo hic enim dolor.
    </p>

    <%= image_tag("euratech.jpg", class:"post-picture") %>
  </div>

  <div class="main-card-newsfeed--interactions">
    <a href="#" class="interaction-results-good">
      X goods
    </a>

    <a href="#" class="interaction-results-comment">
      X comments
    </a>
  </div>

  <hr class="divider">

  <div class="main-card-newsfeed--actions">
    <a href="#" class="action-item good">
      <i class="far fa-thumbs-up"></i>
      Good
    </a>

    <a href="#" class="action-item comment">
      <i class="far fa-comment-dots"></i>
      Comment
    </a>

    <a href="#" class="action-item share">
      <i class="far fa-share-square"></i>
      Comment
    </a>
  </div>
</div>
