<div class="navbar_newsfeed">
      <h1>MyZone</h1>
  <div class="navbar_right">
      <%= link_to user_path(current_user) do %>
      <%= image_tag 'benoit.jpg', class:"avatar_navbar" %>
      <% end %>&nbsp;&nbsp;&nbsp;
      <%= link_to href: '' do %>
      <%= image_tag 'logout.png', height:29, weight:29 %>
      <% end %>&nbsp;&nbsp;&nbsp;
  </div>
</div>
