<div class="navbar_signup">

  <%= link_to root_path do %>
   <%= image_tag("my_zone_logo.svg", class: "logo_myzone" ) %>
  <% end %>

    <div class="navbar_right">
      <a href="/users/sign_in">Sign in</a>&nbsp;&nbsp;&nbsp; <!-- Ces codes sont des espaces -->
      <a href="/users/sign_up">Sign up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>


