  <!-- NAVBAR BOTTOM -->

<div class="navbar_newsfeed_bottom navbar-fixed-bottom">
  <%= link_to root_path '' do %>
    <i class="fas fa-home"></i>
  <% end %>
  <%= link_to message_list_path do %>
    <i class="fas fa-comment-dots"></i>
  <% end %>
  <%= link_to notification_lists_path do %>
    <i class="fas fa-bell"></i>
  <% end %>
</div>



