<div class="navbar_newsfeed">
  <%= link_to root_path, id: "logo_myzone_navbar" do %>
    <h1>MyZone</h1>
  <% end %>

  <div class="navbar_right">
      <%= link_to user_path(current_user), id:"avatar_nav" do %>
      <%= image_tag 'benoit.jpg', class:"avatar_navbar"%>
      <% end %>&nbsp;&nbsp;&nbsp;
      <a rel="nofollow" id="logout_nav" data-method="delete" href="/users/sign_out">
        <%= image_tag 'logout.png', height:29, weight:29 %>&nbsp;&nbsp;&nbsp;
      </a>
  </div>
</div>

