<div class="navbar_signup">
  <h1>MyZone</h1>
    <div class="navbar_right">
      <a href="/users/sign_in">Sign in</a>&nbsp;&nbsp;&nbsp; <!-- Ces codes sont des espaces -->
      <a href="/users/sign_up">Sign up</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>


