  <!-- NAVBAR BOTTOM -->

<div class="navbar_newsfeed_bottom navbar-fixed-bottom">
  <%= link_to root_path '' do %>
    <i class="fas fa-home"></i>
  <% end %>
  <%= link_to zones_path '' do %>
    <i class="fas fa-dot-circle"></i>
  <% end %>


</div>



