<div class="post-bar">

  <!--  AVATAR -->
  <div class="avatar-post">
    <a href="#">
      <%= image_tag("logo.png", class:"avatar_navbar")%>
    </a>
  </div>

  <!-- POST -->

  <div class="post-input">
      <%= form_tag href="#", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
          id: "post-input",
          placeholder: "Write your post..."
      %>
      <% end %>
  </div>

</div>





