<div class="post-bar">

  <!--  AVATAR -->
  <div class="avatar-post">
    <a href="#">
      <%= image_tag("logo.png", class:"avatar_navbar")%>
    </a>
  </div>

  <!-- POST -->

  <div class="post-input">


  </div>

</div>





