<!-- ZONES CARD -->
   <!-- CARD 1 -->
 <div class="container-profile-card">
  <div class="profile-card">
    <a href="/zones#zone_map_<%= zone.id %>">
    <% marker =
      {
        lat: zone.latitude,
        lng: zone.longitude,
        div_id: "user_map_#{zone.id}",
        radius: zone.radius,
        title: zone.title
            # infoWindow: { content: render_to_string(partial: "/flats/map_box", locals: { flat: flat }) }
       } %>
      <div
        class="user_maps";
        id="user_map_<%= zone.id %>";
        style="width:200px; height:200px"
        data-marker="<%= marker.to_json %>"
      >
      </div>
      <div class="tag_zone">
        <%= zone.title %>
      </div>
      </a>
  </div>
 </div>
 <!-- -- -->
