<!-- ZONES CARD -->
    <!-- CARD 1 -->
  <div class="container-profile-card">
    <div class="profile-card">
      <div class="zone_left">
        <div class="tag_zone">
          <a href=""><p><%= zone.title %></p></a>
        </div>
        <div class="interest_margin small_line">
          <b><p>Interests:</p></b> <br>
          <p class="gray"><%= interest.title %></p> <br>
        </div>
      </div>

      <div class="zone_right">
        <%= image_tag("zoneprofile", class:"zonepic" )%>
      </div>
    </div>
  </div>
  <!-- -- -->
