.navbar_signup {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgb(83, 205, 226);
  transition: all 0.3s ease;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}

.navbar_signup a {
  color:white;
  font-weight: bold;
  font-size: 16px;
}

.navbar_signup a:hover {
  color: rgb(3,0,64);
  font-weight: bold;
  font-size: 22;
  color: white;
  opacity: 0.6;
  text-decoration: none;
}

#logo_myzone_navbar:hover {
  text-decoration: none;
}

#logo_myzone_navbar:focus {
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
