<div class="comment-read-container">

  <!-- COMMENT 1 -->
  <div class="comments">
    <!--  AVATAR -->
    <div class="avatar-comment">
        <%= image_tag("logo.png", class:"avatar_navbar avatar_navbar_show")%>
    </div>

    <!-- COMMENT -->

    <div class="comment-read" >
      <p id="comment-read"><%= comment.content %></p>
    </div>
  </div>

  <!-- COMMENT 2 -->
</div>



