<div class="comment-read-container">

  <!-- COMMENT 1 -->
  <div class="comments">
    <!--  AVATAR -->
    <div class="avatar-comment">
       <%= link_to user_path(comment.user) do %>
        <% if comment.user.avatar_url.blank? == true %>
          <%= image_tag("default-avatar.png", class:"avatar_navbar avatar_navbar_show") %>
        <% else %>
          <%=  cl_image_tag(comment.user.avatar_url, class:"avatar_navbar avatar_navbar_show") %>
        <% end %>
      <% end  %>
    </div>

    <!-- COMMENT -->

    <div class="comment-read" >
      <p id="comment-read"><%= comment.content %></p>
    </div>
  </div>

</div>



