.wrapper-all-profile-card {
  display: flex;
  overflow-x: scroll;
  // overflow:hidden;
  // width: 80vw;
}

.container-profile-card {
  display: flex;
  margin: 0px auto;
  margin-right: 15px;
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.profile-card {
  background-color: white;
  border: 1px solid $very-light-gray;
  width: 200px;
  height:89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0;
  overflow: hidden;
  border-radius:5px;
  position:relative;
}

.profile-card:hover {
  opacity: 0.9;
}

.tag_zone {
  background-color: #1B6DA4;
  color: white;
  height:17px;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  border-radius: 5px 0px 5px 0px;
  padding: 0px 10px;
  // text-align: center;
  margin: 0px auto auto 0px;
  top: 0px;
}

.tag_zone a {
  color:white;
  text-decoration: none;
  :hover {
    text-decoration: none;
    background-color:#286090;
  }
}

.zone_left {
  background-color: white;
  color: black;
  font-size:12;
  font-size: 12px;
  text-align: left;
  margin: 0 0;
  width: 50%;
  height:100%;
}

.zone_right {
  background-color: white;
  margin: 0 0;
  width: 50%;
  height:100%;

}

.zonepic {
  border-radius: 0px 5px 5px 0px;
  position: absolute;
  margin: 0px 0px 0px auto;
  height:100%;
  right: 0px;
}

.interest_margin {
  margin-top: 26px;
  margin-left: 15px;
}

.small_line {
  line-height: 2px;
}

.gray {
  color:#747474;
}
