
<h1>Add all components here</h1>
<div class="navbar_signup">
  <!-- Logo -->

  <div class="navbar_police_for_myzone">MyZone</div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign in</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign up</a>

</div>
