<h1>Add all components here</h1>



</div>
<h1>form & avatar</h1>
<br>

<div class="form_sign_up">
<div class="button_sign_in">input</div>
<button type="button" class="btn btn-primary">signout</button>
  input
  <%= image_tag("logo", class:"avatar_profile")%>
  <form><input type="button" value="signin" class="button_normal" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'"></form>
<br>
</div>
