<h1>Add all components here</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">


          <div class="card-description">
            <h2>Sport</h2>
          </div>


        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
