<%= render 'components/navbar_dashboard' %>

<div class="container_dash_data container">
  <div class="container_dash_data_left">
    <p>Put the heat map</p>
  </div>

  <div class="container_dash_data_right">
    <p>Detail data per zone</p>

    <div class="card_dash">
      <p>Age histogram</p>
    </div>

    <div class="card_dash">
      <p>Gender sector graph</p>
    </div>

    <div class="card_dash">
      <p>Interest sector graph</p>
    </div>

    <div class="card_dash">
      <p>Interest/gender histogram</p>
    </div>

    <div class="card_dash">
      <p>Interest/age-range histogram</p>
    </div>

  </div>


</div>




