<div class="div-class">
  <p class="p-class">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perspiciatis possimus saepe asperiores, corporis aspernatur adipisci doloribus laborum commodi rerum cupiditate exercitationem consequatur amet vitae aliquid quo hic enim dolor.</p>
</div>
