.avatar_post {
    // vertical-align: middle;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.avatar_navbar {
    // vertical-align: middle;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

#avatar_nav:hover {
  text-decoration: none;
}

#logout_nav:hover {
  text-decoration: none;
}

.avatar_profile {
    // vertical-align: middle;
    width: 119px;
    height: 119px;
    border-radius: 50%;
    border:5px solid #53CDE2;
    position: relative;
    top: 15px;
}

.edit-profile {

}

#change_profile_picture {
  position: relative;
  top: 160px;
  left: 10px;
  font-size: 30px
}



.avatar_interest {
    // vertical-align: middle;
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.avatar_input {
  margin-left: 10px;
  margin-right: 5px;
  margin-top:0px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
