.banner {
  color: white;
  text-align: center;
  height: 129px;
  width:500px;
  margin: 0 auto;
}

.banner_landin {
  color: white;
  // text-align: center;
  width:100%;
  height: 212px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
}

.banner_signin {
  color: white;
  // text-align: center;
  width:100%;
  height: 100vh;
  margin: 0 auto;
  display:flex;
  // align-items: center;
  justify-content: center;
}

.banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.banner_content a {

}

.container_banner {
  text-align:center;
  width:100%;
  background-size: cover;
}

.banner_introduction {
  background-image:image-url("line.png");
  background-repeat: repeat-y;
  background-position:top center;
  background-color:white;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  padding-top: 40px;
  h2 {
    font-size:20px;
    background-color: white;
    // padding-bottom: 10px;

  }
}

.banner_introduction_last {
  background-color:#E1E1E1;
  height:270px;
  width:100%;
  padding-top:5px;
  text-align:center;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  h2{
    font-size:20px;
  }
  h6 {
    margin-top:10px;
    // padding-bottom: 10px;

  }
}

