// MAP & FORM
.container-dashboard {
  display: flex;
}

.heatmap {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  width: 100%;
  // background-color: gray;
  margin: 10px;
  padding: 10px;
}

.wrapper-all-input {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  width: 100%;
  background-color: #E5E5E5;
  margin: 10px;
  padding: 10px;
}

.input-box {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  margin: 10px;
  border-radius: 5px;
}

.age-heatmap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-age {
  margin: 10px;
}

.input-age input {
  width: 100px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.input-title-heatmap {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}

#interest-heatmap {
  color: black;
  font-weight: bold;
}

.interest-list-heatmap {
  width: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}

.int-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  input[type=checkbox]:checked+label {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: $blue;
  color: white;
  opacity: 1;
  }
}

.int-choice {
  flex: 0 0 30%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.4;
  cursor: pointer;
  text-align: center;
  &:hover {
    opacity: 1;
  }
}

.gender-choices {
  display: flex;
  justify-content: flex-start;
  // flex-wrap: wrap;
  margin: 20px 0;
  input[type=checkbox]:checked+label {
  background-color: $blue;
  color: white;
  opacity: 1;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  }
}

.gender-choice {
  margin-right: 10px;
  flex: 0 0 30%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.4;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

// GRAPHIQUES

.container-all-graph {
  display: flex;
}

.sorting-flat-container {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #E4E4E4;
  width: 100%;
  margin: 10px;
  padding: 10px;
  height: 2000px;
}

.cross-sort-container {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #E4E4E4;
  width: 100%;
  margin: 10px;
  padding: 10px;
  height: 2000px;
}

.graph-type-title {
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: $blue;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.graph-title {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  // margin: 50px;
}

// SORTING FLAT
.sorting-flat-age-range {
  // margin-top: 40px;
  background-color: white;
  border-radius: 5px;
  height: 500px;
  width: 80%;
  margin: 10px auto;
}

.sorting-flat-gender {
  background-color: white;
  border-radius: 5px;
  height: 500px;
  width: 80%;
  margin: 10px auto;
}

.sorting-flat-interest {
  background-color: white;
  border-radius: 5px;
  height: 500px;
  width: 80%;
  margin: 10px auto;
}

// CROSS SORT

.interest-and-gender {
  background-color: white;
  border-radius: 5px;
  height: 500px;
  width: 80%;
  margin: 10px auto;
}

.interest-and-age {
  background-color: white;
  border-radius: 5px;
  height: 500px;
  width: 80%;
  margin: 10px auto;
}
