.container_edit_profile {
  background-color:rgba(239, 239, 239, 0.9);
  height:350px;
  margin-top: 20px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.profile-elements {
  margin-top: 10px;
  padding: 5px;
}

#profile-picture-label {
  font-weight: bold;
}

#finish_edit_profile {
  margin-top: 10px;
}
