.container_edit_profile {
  background-color:rgba(239, 239, 239, 0.9);
  height: 490px;
  margin-top: 20px;
  input[type=file] {
    // display: none;
  }

}

.profile-elements {
  margin-top: 10px;
  padding: 5px;
}

#profile-picture-label {
  font-weight: bold;
}

.finish-edit-profile {
input[type="submit"] {
  margin-top: 10px;
}
}


// .finish-edit-profile {
//  margin-top: 10px;
// }

.image-upload-profile-pictures > input {
  display: none;
}
