.icon_landin {
  margin-right: 0px;
  margin-top: 180px;
  margin-bottom: 0px;
}

.icon_scroll {
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.icon_circle {
  height:45px;
  width: 45px;
  background-color:white;

}

.photo_landin {
  width:80%;
  margin-top:20px
}
