.main-card-newsfeed {
  background: #FFFFFF;
  position: relative;
}

.main-card-newsfeed--header {
  display: flex;
  padding: 30px 10px 10px 10px;
  align-items: center;

  > .bandeau-interest {
    background-color: $blue;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 74px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }

  > .avatar {
    margin-right: 10px;
    // margin-top: 10px;
  }
}

.main-card-newsfeed--body {
  margin-bottom: 20px;

  > .post-content {
    padding: 0 10px;
    font-size: 14px;
  }

  > .post-picture {
    width: 100%;
  }
}

.main-card-newsfeed--interactions {
  margin-bottom: 10px;
  > a {
    padding: 0px 15px;
    font-size: 14px;
    color: $dark-gray;
  }
}

.divider {
  margin: 0 20px;
}

.main-card-newsfeed--actions {

  display: flex;
  justify-content: space-around;
  padding: 10px 20px;

  >.action-item {
    font-size: 15px;
    color: #5C5C5C;
  }
}

.card-zone-newsfeed {
  position: absolute;
  right: 20px;
  top: 20px;
}

.card-zone-newsfeed:hover {
  text-decoration: underline;
}

// .points {
//   position: absolute;
//   top: 40px;
//   right: 10px;
//   border: none;
//   border: 0;
//   background-color: white;
//   border: none;
//   > button {
//     border: none;
//   } a {
//     font-size: 10px;
//   }
// }


#full-name-post {
  color: $blue;
  font-size: 14px;
  margin-bottom: 0px
}

#full-name-post:hover{
  text-decoration: underline;
}

#time-spent-post {
  font-size: 11px;
  color: light-gray;
  margin-bottom: 0px
}

// .interactions-buttons {
//   font-size: 15px;
//   padding-top: 5px;
// }

// .interactions-buttons a {
//   color: #5C5C5C;
// }

// .interactions-buttons p:hover {
//   text-decoration: underline;
// }

// .interaction-row:hover {
//   background-color: $very-light-gray;
// }
