.card_message {
  margin-left:13px;
  line-height: 15px;

  p {
    font-size: 15px;
  }

}

.card_message_private {
  margin-left:13px;
  // line-height: 15px;
  height:50px;
  width:245px;
  border-radius:15px;
  background-color: #E7E7E7;
  display:flex;

  // justify-content:center;

  p {
    font-size: 15px;
    text-align:left;
    margin-left:10px;
  }

}

.avatar_left {
  margin-left:13px;
}

.avatar_message {
    // vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.message_row {
  display:flex;
  align-items:center;

  margin-top:14px;
  margin-left: 5px;

}

.container_message {
  text-align: center;
}
