.navbar_newsfeed {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgb(83, 205, 226);
  transition: all 0.3s ease;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
  margin-bottom: 5px;
  > h1 {
    margin-left: 20px;
    font-size: 30px;
  }
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
