.notification-card {
  background-color: white;
  height: 70px;
  position: relative;
  margin: 0 auto;
  border: 1px solid $very-light-gray;
  align-items: center;
  // border: 1px solid black;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
}

.avatar-notifications{
  margin-left: 10px;
}

#full-name-notification {
  color: #5C5C5C;
  font-size: 12px;
  width: 390px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 10px;
}

#notification-time-spent {
  color: #5C5C5C;
  font-size: 12px;
  margin-right: 10px;
  margin-left: 10px;
}

.edit-points a {
  color: #5C5C5C;
}
