h1 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0;
  font-weight: bold;
}

.body_text {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0 0;
  font-weight: bold;
}

.text_land_in {
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  font-size: 24;
}


h4 {
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  color:black;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 0 0;
  font-weight: bold;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size:17px;
}
