.input-write-post {
  // background-color: red;
  // height: 500px;
  margin-top: 10px;
  textarea.form-control {
    height: 300px;
  }
}


.upload-photo {

}

.zones {
 display: flex;
 overflow-x: scroll;
 width: 92vw;
}

.zone-select {
  // width: 160px;
  margin: 0px;
  // background-color: red;

  // display: flex;

 input[type=radio] {
  display: none;
 }

  input[type=radio]+label {
  background-color: white;
  border-radius: 5px;
  display: flex;
  padding: 15px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  // margin: 10px;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
 }

 input[type=radio]:checked+label {
  background-color: $blue;
  color: white;
 }
}

#zone_logo_write_post {
  margin: 0px;
  margin-right: 5px;
}

.zone_logo_list2{
  border-radius: 50%;
  height: 49px;
  width: 49px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid orange;
  margin-right: 10px;
}
