.container-signup {
  background-color:rgba(239, 239, 239, 0.8);
  border-radius: 5px;
  height: 550px;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 10px;
  h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

#slogan {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}


.container_signin {
  background-color:rgba(239, 239, 239, 0.8);
  border-radius: 5px;
  height: 355px;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 10px;
  h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.container_forgot {
  background-color:rgba(239, 239, 239, 0.8);
  border-radius: 5px;
  height: 170px;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 10px;
  // display: block;
  h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
