.sign-up-form {
  // margin-top: 100px;
  // background-color: light-gray;
  height: 1000px;
}

.sign_up-content {
  background-color: red;
  // display: flex;
}

.bouton-sign-up {
  // background-color: red;
}

.container-signup {
  background-color:rgba(239, 239, 239, 0.9);
  border-radius: 5px;
  height: 670px;
  margin-top:70px;
  padding: 20px;
  margin-bottom: 10px;
  // width:80%;
}

#slogan {
  color: white;
  position: relative;
  top: 200px;
}
