.card_zone_list {
  // background-color: blue;
  // border: 2px solid blue;
  // justify-content: space-around;
  display: flex;
  align-items:center;
  background-color: white;
  height:80px;
  // justify-content:space-around;

}

.zone_logo_list {
  // background-color: red;
  border-radius: 50%;
  height: 49px;
  width: 49px;
  background-color: white;
  border-radius: 50%;
  border: 10px solid orange;
  // margin-top: 0px;
  margin-left:20px;
  // margin-bottom: 15px;
  // margin-top:15px;
}

.zone_name_list {
  // background-color: yellow;
  // width: 50%;
  margin-left: 10px;

}

.zone_name_list h1 {
  font-size: 12px;
  font-weight:bold;
}

.zonelist_left {
  width:200px;
  display: flex;
  align-items:center;
  background-color: white;
}

.blank {
  width:10px;
}

// .name_zonelist {
//   position: relative;
//   top: 25%;
// }

.interest_photo {
  height: 90px;
  width:90px;
  border-radius:15px;
}

.interest_block {
  margin: 15px 0px 0px 26px;
  height:90px;
  width:90px;
}

.interest_title {
  margin-top: -23px;
  background-color: #1B6DA4;
  height:23px;
  width:90px;
  color:white;
  position:absolute;
  border-radius: 0px 0px 15px 15px;
  text-align: center;
  font-weight:bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 10px;
}

.zone_list_cards {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  text-align:center;
  // overflow-x: scroll;
  // width: 92vw;
  // justify-content:space-around;

  // justify-content:center;
}

.card_each_zone {
  margin-bottom:85px;

}

.title_zonelist {
  display:flex;
  align-items:center;
  justify-content:center;
  p {
    font-weight:bold;
    margin: 0px 0px;
  }
}

#edit_zone {
  height: 40px;
}

.zone_photo {
  height:90px;
  width:90px;
  border-radius:15px;
}

.interest-select {
  // width: 160px;
  margin: 0px;
  // background-color: red;

  // display: flex;

 input[type=checkbox] {
  display: none;
 }

  input[type=checkbox]+label {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  border-radius: 5px;
  display: flex;
  padding: 15px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  // margin: 10px;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
 }

 input[type=checkbox]:checked+label {
  background-color: $blue;
  color: white;
 }
}






