<%= simple_form_for([@user, @zone, @zone_tag]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :interest_tag, collection: InterestTag.all,
                as: :check_boxes,
                required: true, include_blank: false, include_hidden: false,
                input_html: { multi: true }
                %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "finish" %>
  </div>
<% end %>
